<div class="headerBox">

    <div class="logoBox">
        <div class="logoImg"><div class="logoText">{{localize "Thryve.SystemName"}}</div></div>
    </div>

    <div class="charInfoBox">
        <input class="bigInputText" type="text" name="name" value="{{actor.name}}">
        <div class="charClass">
            <div class="charcompetence"><div class="traiticon fa-regular fa-circle-dot"></div>
            {{localize (concat "Thryve.System." system.experience.competence "")}}</div>
        </div>
    </div>
</div>